{% extends 'main/_base.html' %}

{% block head-title %}Log In{% endblock %}

{% block content %}
    <h1>Log In</h1>
    <p>Sign-in to your account</p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Log In">
    </form>
{% endblock %}
