{% extends 'main/_base.html' %}

{% block head_title %}Register{% endblock %}

{% block content %}
    <h1>Register</h1>
    <p>Create an account</p>
    <form action="/register/" method="post">
        {% csrf_token %}
        {% for field in form %}
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            <br/>
        {% endfor %}
        <input type="submit" value="Register">
    </form>
{% endblock %}
