{% load compress static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block head_title%}{% endblock %} | TossCrypto</title>
        <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}"/>

        {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'sass/index.sass' %}"/>
        {% endcompress %}
    </head>
    <body>
        <nav>
            <div class="nav-left">
                <a href="{% url 'index' %}"><img src="{% static 'icons/home.svg' %}"/><span>Cryptotip</span></a>
                <a href="{% url 'profile_list' %}"><img src="{% static 'icons/compass.svg' %}"/><span>Explore</span></a>
                <a href="#"><img src="{% static 'icons/search.svg' %}"/>Search</a>
            </div>
            <div class="nav-right">
                {% if request.user.is_authenticated %}
                    Signed in as <a href="{% url 'profile' request.user.username %}">{{ request.user.username }}</a>, <a href="{% url 'account_logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'account_login' %}">Sign In</a>
                    <a href="{% url 'account_signup' %}">Register</a>
                {% endif %}
            </div>
        </nav>
        {% if messages %}
            <ul class="messages">
                <img src="{% static 'icons/info.svg' %}"/>
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
