{% extends 'main/_base.html' %}
{% load static %}

{% block head_title %}Home{% endblock %}

{% block content %}
    <h1>Delete your {{ address.coin|upper }} address?</h1>
    {% if address.coin|upper in coins %}
        <img src="{% static "coins/"|add:address.coin|lower|add:".svg" %}"/>
    {% else %}
        <img src="{% static "coins/generic.svg" %}"/>
    {% endif %}
    <p><b>{{ address.coin }}</b>: {{ address.address }}</p>
    <form method="post">{% csrf_token %}
        <a href="{% url 'profile' user.username %}"><input type="button" value="No"/></a>
        <input type="submit" value="Yes">
    </form>
{% endblock %}
