{% extends 'main/_base.html' %}

{% block head_title %}Home{% endblock %}

{% block content %}
    <h1>Home</h1>
    <p>A secure, open-source way to donate cryptocurrency to your favorite creators.<p>
    <ul>
        <li>Private</li>
        <li>Free</li>
        <li>Open Source</li>
    </ul>

    <a href="{% url 'profile_list' %}">Creators</a>

    {% if not user.is_authenticated %}
        <a href="{% url 'account_login' %}">Sign In</a>
        <a href="{% url 'account_signup' %}">Register</a>
    {% endif %}
{% endblock %}
