{% extends 'main/_base.html' %}

{% block head_title %}{{ user.username | title }}'s Profile{% endblock %}

{% block content %}
    <h1>Edit your profile</h1>
    <form action="{% url 'edit' %}" method="post">
        {% csrf_token %}
        <p>
        What do you do? "{{ user.username|title }} is 
            {{ form.desc }}"
            <br>
            Bio:
            <br>
            {{ form.bio }}
            <br>
            {{ form.listed }}
            Display profile in the explore page
        </p>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
