{% extends 'main/_base.html' %}

{% block head_title %}List of Creators{% endblock %}

{% block content %}
    <h1>Creators</h1>
    <p>
    <b>Warning</b>: Make sure these profiles belong to who you think.
    You can be sure by using a link provided by the person on another platform!
    </p>
    <ul>
        {% for profile in profiles %}
            <li><a href="{% url 'profile' profile.owner.username %}">{{ profile.owner.username }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
