{% extends 'main/_base.html' %}
{% load static %}

{% block head_title %}{{ user.username | title }}'s Profile{% endblock %}

{% block content %}
    {% if profile.desc %}
        <h1>{{ user.username | title }} is {{ profile.desc }}</h1>
    {% else %}
        <h1>{{ user.username | title }}'s Profile</h1>
    {% endif %}

    {% if user == request.user %}
        <a href="{% url 'edit' %}">Edit your profile</a>
    {% endif %}

    {% if profile %}
        <p>{{ profile.bio }}</p>
    {% endif %}

    <h2>Addresses</h2>
    <ul class="address-list">
        {% for address in addresses %}
            <li class="address">
                {% if user == request.user %}
                    <b><a href="{% url 'delete' address.id %}">×</a></b>&nbsp;
                {% endif %}
                {% if address.coin|upper in coins %}
                    <img src="{% static "coins/"|add:address.coin|lower|add:".svg" %}"/>
                {% else %}
                    <img src="{% static "coins/generic.svg" %}"/>
                {% endif %}

                <span title="{{ address.coin|upper }}"><b>{{ address.coin|upper }}</b>: {{ address.address }}</span>
            </li>
        {% empty %}
            {% if request.user == user %}
                <p>You have no addresses! Add some below.</p>
            {% else %}
                <p>This user has no addresses!</p>
            {% endif %}
        {% endfor %}
    </ul>

    {% if user == request.user %}
        <h3>Add new</h3>

        <form action="{% url 'profile' user.username %}" method="post">
            {% csrf_token %}
            {{ form.coin }}
            {{ form.address }}

            <datalist id="coinlist">
                {% for coin in coins %}
                    <option value="{{ coin }}">
                {% endfor %}
            </datalist>

            <input type="submit" value="Add"/>
        </form>

    {% else %}
        <a href="{% url 'request' user.username %}">Request Currency</a>
        <a href="{% url 'report' user.username %}">Report User</a>
    {% endif %}
{% endblock %}
