{% extends 'main/_base.html' %}

{% block head_title %}{{ user.username | title }}'s Profile{% endblock %}

{% block content %}
    <h1>Request Coin</h1>
    <form action="{% url 'request' user.username %}" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
