$bg: #262629
$fg: #d3c398
$hl: #60916a
$link: #f6cc87
$msg: #60524d

body
  font-family: Arial, Helvetica, sans-serif
  box-sizing: border-box
  margin: 0
  background-color: $bg
  color: $fg

main
  width: 65ch
  margin: 0 auto
  width: 70%

nav
  background-color: $hl
  display: flex
  justify-content: space-between
  font-size: 1.1rem
  padding: 0.5rem
  border-bottom:  0.1rem solid $fg
  flex-wrap: wrap

  img
    padding-right: 0.1rem

  .nav-left 
    display: flex

    a
      display: flex
      text-decoration: none
      padding-right: 0.35rem

a
  color: $link

input, button, textarea
  background-color: $fg
  padding: 0.25em 0.5em
  border: 2px solid $hl
  border-radius: 4px

button
  font-size: 1em
  font-weight: bold

.address 
  padding-top: .1em
  padding-bottom: .1em
  display: flex
  align-items: stretch

  img
    height: 1.2em
    padding-right: 1ch

.address-list
  list-style: none
  padding-left: 1em

#id_coin, .coin
  text-transform: uppercase

.messages
  display: flex
  max-width: 50vw
  margin: 0 auto
  padding: 1vh
  background-color: $msg
  list-style: none
  border-bottom-left-radius: 5px
  border-bottom-right-radius: 5px

  img
    margin-right: 1vw
    width: 1.2rem
